<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBjz6DKL1IR5IYkwvt2PI5ebKdxJsz4uB0</string>
	<key>GCM_SENDER_ID</key>
	<string>623446225396</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Swift-Beginners-app.smallGoal</string>
	<key>PROJECT_ID</key>
	<string>smallgoal-57032</string>
	<key>STORAGE_BUCKET</key>
	<string>smallgoal-57032.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:623446225396:ios:a36ba77cc5b078608389a1</string>
	<key>DATABASE_URL</key>
	<string>https://smallgoal-57032-default-rtdb.firebaseio.com</string>
</dict>
</plist>